;#### SSH CONFIG ####
[cla-dwpn-psql-pg13-cluster]
active = true
description =  "PG13 - cla-dwpn-psql-pg13-cluster"
path_prefix = /usr/lib/postgresql/13/bin
ssh_command = ssh postgres@cla-dwpn-psql-02.wpnops.net
conninfo = host=cla-dwpn-psql-02.wpnops.net port=5432 user=barman dbname=postgres
streaming_conninfo = host=cla-dwpn-psql-02.wpnops.net port=5432 user=streaming_barman dbname=postgres
streaming_archiver = on
create_slot = auto
slot_name = barman
;-- backup_method: rsync / postgres (streaming)
backup_method = rsync
;-- reuse_backup: link = incremental backup
reuse_backup = link
;-- backup_options: concurrent_backup | exclusive_backup
backup_options = concurrent_backup
parallel_jobs = 4
;-- archiver: wal archiving
archiver = on
retention_policy_mode = auto
retention_policy = RECOVERY WINDOW OF 3 days
wal_retention_policy = main
post_backup_script = barman-post-backup.sh cla-dwpn-psql-02.wpnops.net
pre_recovery_script = barman-pre-recovery.sh cla-dwpn-psql-02.wpnops.net
