{{ ansible_managed | comment }}

global
    maxconn {{ _conf_maxconn }}
    chroot /var/lib/haproxy
    stats socket {{ _conf_socket }} mode 660 level admin expose-fd listeners
    stats timeout 30s
    user {{ _conf_user }}
    group {{ _conf_group }}
    daemon

defaults
    log global
    mode tcp
    retries 2
    timeout connect 1s
    timeout check 1s
    timeout client 30m
    timeout server 30m

listen stats
    mode http
    bind *:9000
    stats enable
    stats uri /

frontend master-ssh
    timeout client 5m
    bind {{ _conf_addr }}:{{ _conf_port_ssh_master_local }}
    default_backend master-ssh

backend master-ssh
    timeout server 5m
    option httpchk
    http-check send meth OPTIONS uri /master ver HTTP/1.0 hdr Authorization "Basic {{ _conf_check_auth }}"
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
{% for _pgnode in _conf_pgnodes %}
    server {{ _pgnode.name }} {{ _pgnode.address }}:22 check port {{ _conf_port_restapi }}
{% endfor %}

frontend master-psql
    bind {{ _conf_addr }}:{{ _conf_port_psql_master_local }}
    default_backend master-psql

backend master-psql
    option httpchk
    http-check send meth OPTIONS uri /master ver HTTP/1.0 hdr Authorization "Basic {{ _conf_check_auth }}"
    http-check expect status 200
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
{% for _pgnode in _conf_pgnodes %}
    server {{ _pgnode.name }} {{ _pgnode.address }}:{{ _conf_port_psql_member_local }} maxconn {{ _conf_maxconn }} check port {{ _conf_port_restapi }}
{% endfor %}

frontend standby-psql
    bind {{ _conf_addr }}:{{ _conf_port_psql_slave_local }}
    default_backend standby-psql

backend standby-psql
    option httpchk
    http-check send meth OPTIONS uri /replica ver HTTP/1.0 hdr Authorization "Basic {{ _conf_check_auth }}"
    http-check expect status 200
    default-server inter 10s fall 3 rise 2 on-marked-down shutdown-sessions
{% for _pgnode in _conf_pgnodes %}
    server {{ _pgnode.name }} {{ _pgnode.address }}:{{ _conf_port_psql_member_local }} maxconn {{ _conf_maxconn }} check port {{ _conf_port_restapi }}
{% endfor %}
